* {
  padding: 0;
}

.project-card {
  width: 37.5rem;
  height: 38.625rem;
  background: linear-gradient(130deg, #04071d, #0c0e23);
  border-radius: 1.43rem;
  border: 1px solid #36374971;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.25rem 1.5rem;
}

.project-view {
  border-radius: 1.43rem;
  width: 34.5rem;
  height: 20.625rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/background.svg");
  position: relative;
}

.project-view img {
  width: 28.125rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.project-title {
  font-family: var(--inter);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: -0.8px;
  color: white;
  margin-top: 2.1875rem;
}

.project-description {
  font-family: var(--inter);
  font-size: 1.25rem;
  font-weight: 400;
  color: #bec1dd;
  line-height: 1.3;
  max-width: 34.5rem;
  margin-top: 1.5rem;
}

.project-live-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.project-live-link span:hover {
    color: #a365ff;
}


.project-live-link span {
  font-family: var(--inter);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.48px;
  color: #cbacf9;
}

.project-metadata {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.8rem;
}

.project-tech-icon {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  margin-right: -0.25rem;
}
