.hero-div h3 {
  font-size: 1rem;
  color: #e4ecff;
  line-height: 1.2;
  letter-spacing: 0.25rem;
  font-family: var(--inter);
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 8rem;
  text-align: center;
}

.hero-div h1 {
  font-size: 4.5rem;
  color: #ffffff;
  letter-spacing: -3.6px;
  font-family: var(--inter);
  font-weight: 700;
  width: 60rem;
  line-height: 0.95;
  text-align: center;
}

.hero-div h1 span {
  color: #cbacf9;
}

.hero-div h2 {
  font-size: 1.5rem;
  color: #e4ecff;
  line-height: 1.2;
  font-family: var(--inter);
  font-weight: 400;
}

.hero-div .button {
  padding: 1px;
  background: linear-gradient(
    0deg,
    rgba(105, 113, 162, 0.4),
    rgba(39, 42, 60, 0.5)
  );
  display: inline-block;
  border-radius: 14px;
  cursor: pointer;
}

.hero-div a {
  padding: 22px 40px;
  border-radius: 14px;
  background: linear-gradient(90deg, #161a31, #06091f);
  border: none;
  color: white;
  font-family: var(--inter);
  line-height: 1.2;
  font-size: 1.125rem;
  letter-spacing: -0.48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  transition: all 0.3s;
}

.hero-div a:hover {
  gap: 1.5rem;
}

.rotate-right {
  transform: rotate(45deg);
  transition: 0.3s;
}

.rotate-left {
  transform: rotate(0);
  transition: 0.3s;
}

.hero-div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 31px;
}

.hero-section {
  scroll-margin-top: 90px;
}
