* {
  box-sizing: border-box;
}

.container1 {
  width: 43rem;
  height: 34rem;
  border-radius: 1.43rem;
  overflow: hidden;
  background: linear-gradient(130deg, #04071d, #0c0e23);
  background-image: url("../../assets/earthLaptopBackground.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el6 {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-left: 2.69rem;
  display: flex;
  align-items: center;
}

.el1 .title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: var(--inter);
  color: white;
  letter-spacing: -0.16px;
  width: 24.5rem;
  position: absolute;
  top: 22.93rem;
  left: 2.5rem;
  z-index: 1;
}

.el1::after {
  content: "";
  width: 43rem;
  height: 33.7rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    #04071d 0%,
    #04071d 6%,
    #0c0e2300 26%,
    #0c0e2300 100%
  );
  border-radius: 1.43rem;
}

.el1 {
  position: relative;
  border-radius: 1.43rem;
  background-image: url("../../assets/earth.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 43rem;
  height: 34rem;
}

.container2 {
  width: 32.5rem;
  height: 15.93rem;
  border: 1px solid #36374980;
  border-radius: 1.43rem;
}

.el2 .title {
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: var(--inter);
  color: white;
  letter-spacing: -0.16px;
  width: 25.68rem;
  position: absolute;
  top: 2.5rem;
  left: 2.18rem;
  z-index: 1;
}

.el2::before {
  content: "";
  background-image: url("../../assets/fade.svg");
  background-position: bottom;
  width: 32.56rem;
  height: 15.93rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 32.5rem;
  height: 15.93rem;
  opacity: 0.2;
  z-index: -1;
  border-radius: 1.43rem;
}

.el2 {
  background-image: url("../../assets/balls.svg");
  background-position: bottom;
  width: 32.56rem;
  height: 15.93rem;
  background-repeat: no-repeat;
  position: relative;
  width: 32.5rem;
  height: 15.93rem;
  border-radius: 1.43rem;
}

.container3 {
  width: 32.5rem;
  height: 15.93rem;
  outline: 1px solid #36374980;
  border-radius: 1.43rem;
  position: relative;
}

.container3::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 32.5rem;
  height: 15.93rem;
  border-radius: 1.43rem;
  background: linear-gradient(
    180deg,
    #04071d 0%,
    transparent 30%,
    transparent 70%,
    #04071d 100%
  );
  pointer-events: none;
}

.el3 {
  width: 32.5rem;
  height: 15.93rem;
  position: relative;
  border-radius: 1.43rem;
  overflow: hidden;
  background: linear-gradient(130deg, #04071d, #0c0e23);
}

.el3 .title {
  font-size: 2rem;
  font-family: var(--inter);
  font-weight: 700;
  letter-spacing: -0.16px;
  line-height: 1.2;
  color: white;
}

.el3 .subtitle {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--inter);
  color: #c1c2d3;
  line-height: 1.2;
}

.el3 .titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.25rem;
  z-index: 1;
}

.card {
  border-radius: 6.76px;
  width: 8.75rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13.94px;
  font-family: var(--inter);
  font-weight: 600;
  line-height: 18.6;
  background-color: #10132e;
}

.skills1-container,
.skills2-container {
  position: absolute;
}

.skills1-container:hover .scrolling-up, .skills2-container:hover .scrolling-down {
  animation-play-state: paused;
}

.skills2-container {
  top: -1.5rem;
  right: 10.55rem;
}

.skills1-container {
  top: -3.2rem;
  right: 1rem;
}

.scrolling-down,
.scrolling-up {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 0.8rem;
}

.scrolling-up {
  animation: scrolling-up 8s infinite linear;
}

.scrolling-down {
  animation: scrolling-down 8s infinite linear;
}

@keyframes scrolling-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes scrolling-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.container4 {
  width: 21.9rem;
  height: 11.25rem;
}

.el4 {
  display: flex;
  width: 21.9rem;
  height: 11.25rem;
  position: relative;
  border-radius: 1.43rem;
  overflow: hidden;
  background: linear-gradient(130deg, #04071d, #0c0e23);
  background-image: url("../../assets/emptyCard.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.el4 .title {
  font-family: var(--inter);
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  line-height: 1.2;
  letter-spacing: -0.16px;
  width: 18.81rem;
  position: absolute;
  left: 1.75rem;
  top: 1.81rem;
}

.container5 {
  position: relative;
  width: 21.9rem;
  height: 11.25rem;
  border-radius: 1.43rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container5::before {
  content: "";
  position: absolute;
  width: 21.9rem;
  height: 11.25rem;
  border-radius: 1.43rem;
  overflow: hidden;
  background: linear-gradient(130deg, #04071d, #0c0e23);
  background-image: url("../../assets/fadeCard.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -2;
  animation: color-fading 3s infinite ease-in-out;
}

@keyframes color-fading {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(200%);
  }
  100% {
    filter: brightness(100%);
  }
}

.el5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.el5 .title {
  text-align: center;
  font-family: var(--inter);
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  line-height: 1.2;
  letter-spacing: -0.16px;
  width: 18.81rem;
}

.el5 .button span {
  font-family: var(--inter);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.48px;
  color: #e4ecff;
}

.el5 .button {
  width: 12.5rem;
  height: 2.56rem;
  display: flex;
  justify-content: center;
  gap: 0.31rem;
  padding: 0.75rem 1rem;
  background: linear-gradient(90deg, #161a31, #06091f);
  border-radius: 0.43rem;
  border: solid 1px #6971a260;
  position: relative;
  transition: all 0.2s;
}

.el5 .button:hover {
  filter: contrast(105%);
  cursor: pointer;
}

.el6 .subtitle {
  font-size: 1rem;
  color: #e4ecff;
  line-height: 1.2;
  letter-spacing: 0.25rem;
  font-family: var(--inter);
  font-weight: 400;
  text-transform: uppercase;
}

.el6 .title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: var(--inter);
  color: white;
  letter-spacing: -0.16px;
  width: 19.43rem;
}

.el6 .titles {
  display: flex;
  flex-direction: column;
  gap: 0.93rem;
  padding: 0;
}

.container6 {
  width: 54rem;
  height: 24.37rem;
  border-radius: 1.43rem;
  overflow: hidden;
  background: linear-gradient(130deg, #04071d, #0c0e23);
  background-image: url("../../assets/largeCodingBackground.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el6 {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-left: 2.69rem;
  display: flex;
  align-items: center;
}

.up-box {
  display: flex;
  gap: 1.875rem;
}

.up-box .up-right-box {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.down-box {
  display: flex;
  gap: 1.875rem;
}

.down-box .down-left-box {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.porfolio {
  margin-top: 11.875rem;
  display: flex;
  flex-direction: column;
  gap: 2.4375rem;
  justify-content: center;
  align-items: center;
}
