.footer-copyright {
  font-family: var(--inter);
  font-size: 0.89rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: white;
}

.footer-link {
  height: 2.5rem;
  width: 2.5rem;
  display: block;
  border-radius: 0.5rem;
  background-color: #05041fcc;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  border: 1px solid #292b3f;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.12);
  transition: filter 0.2s;
}

.footer-link:hover {
  filter: brightness(130%);
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 16.5rem;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77.5rem;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 8.25rem;
}
