.experience-header {
  font-family: var(--inter);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -2px;
  text-align: center;
  color: white;
}

.experience-header span {
  color: #cbacf9;
}

.experience-cards {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
  width: max-content;
}

.experience-section {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
