.experience-title {
  font-family: var(--inter);
  font-size: 1.625rem;
  font-weight: 700;
  color: white;
  line-height: 2rem;
  letter-spacing: -0.48px;
}

.experience-description {
  font-family: var(--inter);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
  color: #bec1dd;
  max-width: 23.18rem;
}

.experience-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience-card {
  width: 37.5rem;
  height: 11.875rem;
  border-radius: 1.43rem;
  border: 1px solid #36374960;
  border-top: 4px solid #161935;
  background: linear-gradient(130deg, #04071d, #0c0e23);
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-profile {
  display: flex;
  gap: 1.875rem;
}